*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;

}
.container {
    margin: 0 auto;
    width: 70%;
    height: 500px;
    position: relative;
}

.slides {
    display: flex;
    height: 100%;
    
}

.slider {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    overflow: hidden;
}

.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
    ;width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#next-btn , #prev-btn {
    cursor: pointer;
    background: transparent !important;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: black !important;
}
#next-btn:focus , #prev-btn:focus {
    outline: none;
}