* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  :root {
      --main-color: #4d4dff;
      --secondary-color: #ff00ff;
      --tertary-color: #fff44f;
      --background-color: #000;
      --text-color: #f8e3e3;
      --second-text-color: #fff ;
      --main-heaing-font: font-family: 'Poppins', sans-serif;
      --main-para-text:font-family: 'Varela', sans-serif;
  }
  @media (min-width:1281px) {
    body {
      background: #111;
       height: 100vh;
      width: 100vw;
      padding: 60px 60px;
      overflow: hidden;
    }
  
    .go-back {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: #333;
      position: absolute;
      top: 2.5vh;
      right: 2.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #000;
      cursor: pointer;
      transition: all .4s ;
      z-index: 5;
    }
    .go-back svg {
      height: 30px;
      width: 30px;
    }
    .go-back:hover{
      box-shadow: 1px 1px 30px #888;
    }
    
    .flex-container  {
      height: 50%;
      width: 50%;
      position: relative;
      top: 50%;
      z-index: 2;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      transform:translateY(-50%)
    }
  
    .flex-wrapper {
      position: relative;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      top: -400px;
      left: -80px;
    }
    
    .options {
      height: 140px;
      width: 500px;
      display: flex;
      justify-content: center;
      transition: all 0.4s ;
      align-items: center;
      text-align: center;
      margin: 30px 0;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      color: var(--second-text-color);
      position: relative;
      border-radius: 7px;
      background: #000;
      padding: 10px 8px;
    }
    .options:hover {
      z-index: 3;
      background: #000000;
      color: #000;
    }
   
    .options::after{
      filter: blur(6rem);
    }
    .pink-tape{transition: all 0.4s ;color: var(--second-text-color); text-shadow: 2px 2px 10px var(--secondary-color);}
    .pink-tape::before, .pink-tape::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: #000;
      z-index: -1;
      transition: all 0.4s ;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--secondary-color),#000, var(--secondary-color), #000)
    }
    .blue-tape{transition: all 0.4s ;color: var(--second-text-color); text-shadow: 2px 2px 10px var(--main-color);}
    .blue-tape::before, .blue-tape::after {
      content: "";
      position: absolute;
      inset: -1px;
      background: #000;
      z-index: -1;
      transition: all 0.4s ;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--main-color),#fff, var(--main-color))
    }
    .yellow-tape{transition: all 0.4s ease-in;color: var(--second-text-color); text-shadow: 1px 1px 10px var(--tertary-color);}
    .yellow-tape::before, .yellow-tape::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: #000;
      z-index: -1;
      transition: all 0.4s ;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--tertary-color),#000, var(--tertary-color) , #000)
    } 
    .yellow-tape:hover{ z-index: 3; color:  #000; text-shadow: 1px 1px 10px var(--tertary-color);}
  
  .lines-box{
  position: relative;
  height: 100%;
  width: 100%;
  
  }
  .pinkie   {
  width: 10px;
  height: 10px;
  background: pink;
  position: absolute;
  border-radius: 100% 10px 10px 100% ;
  top: -20%;
  left: 2%;
  animation: pinkie-move 10s linear  3s  infinite ;
  }
  .lines::after{
  filter: blur(10rem);
  }
  .lines::before, .lines::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: pink;
  z-index: -1;
  border-radius: inherit;
  }
  .blueie::before, .blueie::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: var(--main-color);
  z-index: -1;
  border-radius: inherit;
  animation: blueie-move 10s linear  3s  infinite ;
  }
  .blueie   {
  width: 400px;
  height: 6px;
  background: var(--main-color);
  position: absolute;
  border-radius:100% 10px 10px 100% ;
  top: 50%;
  transform: rotate(180deg);
  right: -50%;
  }
  .yellowie::before, .yellowie::after {
  content: "";
  position: absolute;
  inset: -2px;
  background: var(--tertary-color);
  z-index: -1;
  border-radius: inherit;
  }
  .yellowie   {
  width: 6px;
  height: 400px;
  background: var(--tertary-color);
  position: absolute;
  border-radius: 100% 10px 10px 100% ;
  bottom: -70%;
  left: 50%;
  animation: yellowie-move 10s linear  3s  infinite ;
  }
  
  @keyframes pinkie-move {
  0%{
    transform:translate(0,0)
  }
  50%{
    transform: translate(10%,200vh);
  }
  100%{
    transform: translate(0,0);
  }
  }
  @keyframes blueie-move {
  0%{
    transform:translate(0,0)
  }
  50%{
    transform: translate(200vh,10%);
  }
  100%{
    transform: translate(0,0);
  }
  }
  @keyframes yellowie-move {
  0%{
    transform:translate(0,0)
  }
  50%{
    transform: translate(50%,-200vh);
  }
  100%{
    transform: translate(0,0);
  }
  }
  
  .circles-box {
  position: relative;
  height: 600px;
  width: 600px;
  left: 55%;
  top: 15%;
  animation: spin-box 10s linear  infinite ;
  }
  
  .circles {
  height: 200px;
  position: absolute;
  width: 200px;
  border-radius: 50% 50%;
  background: #000;
  box-shadow: 2px 2px 40px #ffffffb4, -2px -2px 40px #ffffffb4;
  }
  .blue {
  left: 38%;
  background-color: #000;
  animation: spin-blue 30s linear infinite ;
  }
  .blue:hover {
  transform: translate(50px ,100px);
  }
  .pink {
  left: 0;
  bottom: 0;
  animation: spin-pink 30s linear  infinite ;
  }
  .yellow{
  left: 68%;
  bottom: 0;
  background: black;
  animation: spin-yellow 30s linear  infinite ;
  }
  
  @keyframes spin-blue {
  0%{
    transform: translate(0 , 0);
  }
  33.3%{
    left :68%;
    transform: translateY(200%);
  }
  66.6%{
    left: 0;
    transform: translateY(200%);
  }
  99.9%{
    ransform: translate(0 , 0);
  }
  }
  @keyframes spin-pink {
  0%{
    
  }
  33.3%{
    left: 38%;
    transform: translateY(-200%);
  }
  66.6%{
    left: 68%;
    transform: translateY(-0%);
  }
  99.9%{
    ransform: translate(0 , 0);
  }
  }
  @keyframes spin-yellow {
    0%{
      
    }
    33.3%{
      left: 0%;
      transform: translateY(0%);
    }
    66.6%{
      left: 38%;
      transform: translateY(-200%);
    }
    99.9%{
      ransform: translate(0 , 0);
    }
  }
  @keyframes spin-box {
    0% {
  
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
    a {
      text-decoration: none;
    }
  }
  a {text-decoration: none;}
@keyframes rotation {
    0% {  --gradient-angle : 0deg}
    100% {  --gradient-angle :360deg
    }
}
@media (max-width:1280px) and (min-width:551px) {
  body {
      background: #222;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 60px 60px;
      overflow: hidden;
    }
  
    .go-back {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #333;
      position: absolute;
      top: 2vh;
      right: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #000;
      cursor: pointer;
      transition: all .4s ;
      z-index: 5;
    }
    .go-back svg {
      height: 30px;
      width: 30px;
    }
  
    .circles{
      display: none;
    }
    .flex-container  {
      height: 100%;
      width: 100%;
      position: relative;
      top: 30px;
      z-index: 2;
    }

    
    .options {
      height: 25%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 30px 0;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      color: var(--second-text-color);
      position: relative;
      border-radius: 7px;
      background: #000;
      padding: 10px 8px;
    }
   
    .options::after{
      filter: blur(6rem);
    }
    .pink-tape{color: var(--second-text-color); text-shadow: 2px 2px 10px var(--secondary-color);}
    .pink-tape::before, .pink-tape::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: #000;
      z-index: -1;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--secondary-color),#000, var(--secondary-color), #000)
    }
    .blue-tape{color: var(--second-text-color); text-shadow: 2px 2px 10px var(--main-color);}
    .blue-tape::before, .blue-tape::after {
      content: "";
      position: absolute;
      inset: -1px;
      background: #000;
      z-index: -1;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--main-color),#fff, var(--main-color))
    }
    .yellow-tape{color: var(--second-text-color); text-shadow: 1px 1px 10px var(--tertary-color);}
    .yellow-tape::before, .yellow-tape::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: #000;
      z-index: -1;
      border-radius: inherit;
      animation: rotation 20s linear infinite;
      background: linear-gradient(var( --gradient-angle ), var(--tertary-color),#000, var(--tertary-color) , #000)
    } 

    .flex-wrapper {
      position: absolute;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
    .lines-box{
      position: relative;
      height: 100%;
      width: 100%;
      
    }
    .pinkie   {
      width: 10px;
      height: 10px;
      background: pink;
      position: absolute;
      border-radius: 100% 10px 10px 100% ;
      top: -20%;
      left: 2%;
      animation: pinkie-move 10s linear  3s  infinite ;
    }
    .lines::after{
      filter: blur(10rem);
    }
    .lines::before, .lines::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: pink;
      z-index: -1;
      border-radius: inherit;
    }
    .blueie::before, .blueie::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: var(--main-color);
      z-index: -1;
      border-radius: inherit;
      animation: blueie-move 10s linear  3s  infinite ;
    }
    .blueie   {
      width: 400px;
      height: 6px;
      background: var(--main-color);
      position: absolute;
      border-radius:100% 10px 10px 100% ;
      top: 50%;
      transform: rotate(180deg);
      right: -50%;
    }
    .yellowie::before, .yellowie::after {
      content: "";
      position: absolute;
      inset: -2px;
      background: var(--tertary-color);
      z-index: -1;
      border-radius: inherit;
    }
    .yellowie   {
      width: 6px;
      height: 400px;
      background: var(--tertary-color);
      position: absolute;
      border-radius: 100% 10px 10px 100% ;
      bottom: -70%;
      left: 50%;
      animation: yellowie-move 10s linear  3s  infinite ;
    }

    @keyframes pinkie-move {
      0%{
        transform:translate(0,0)
      }
      50%{
        transform: translate(10%,200vh);
      }
      100%{
        transform: translate(0,0);
      }
    }
    @keyframes blueie-move {
      0%{
        transform:translate(0,0)
      }
      50%{
        transform: translate(200vh,10%);
      }
      100%{
        transform: translate(0,0);
      }
    }
    @keyframes yellowie-move {
      0%{
        transform:translate(0,0)
      }
      50%{
        transform: translate(50%,-200vh);
      }
      100%{
        transform: translate(0,0);
      }
    }

  }
  @media (max-width:550px) and (min-width:0) {
    body {
        background: #222;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10px;
        overflow: hidden;
      }
    
      .flex-wrapper{
        display: none;
      }
      .flex-container  {
        height: 100%;
        width: 100%;
        position: relative;
        top: 30px;
      }
      .go-back {
        height: 40px;
        width: 100px;
        border-radius: 7%;
        background: transparent;
        position: absolute;
        top: 2vh;
        right: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #fff;
        cursor: pointer;
        transition: all .4s ;
        z-index: 6;
        border: 1px solid rgba(255, 255, 255, 0.123);
      }
      .go-back svg {
        height: 30px;
        width: 30px;
      }

      
      .options {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px 0;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        color: var(--second-text-color);
        position: relative;
        border-radius: 7px;
        background: #000;
        padding: 10px 8px;
      }
     
      .options::after{
        filter: blur(6rem);
      }
      .pink-tape{color: var(--second-text-color); text-shadow: 2px 2px 10px var(--secondary-color);}
      .pink-tape::before, .pink-tape::after {
        content: "";
        position: absolute;
        inset: -2px;
        background: #000;
        z-index: -1;
        border-radius: inherit;
        animation: rotation 20s linear infinite;
        background: linear-gradient(var( --gradient-angle ), var(--secondary-color),#000, var(--secondary-color), #000)
      }
      .blue-tape{color: var(--second-text-color); text-shadow: 2px 2px 10px var(--main-color);}
      .blue-tape::before, .blue-tape::after {
        content: "";
        position: absolute;
        inset: -1px;
        background: #000;
        z-index: -1;
        border-radius: inherit;
        animation: rotation 20s linear infinite;
        background: linear-gradient(var( --gradient-angle ), var(--main-color),#fff, var(--main-color))
      }
      .yellow-tape{color: var(--second-text-color); text-shadow: 1px 1px 10px var(--tertary-color);}
      .yellow-tape::before, .yellow-tape::after {
        content: "";
        position: absolute;
        inset: -2px;
        background: #000;
        z-index: -1;
        border-radius: inherit;
        animation: rotation 20s linear infinite;
        background: linear-gradient(var( --gradient-angle ), var(--tertary-color),#000, var(--tertary-color) , #000)
      }
    

  }





  

