* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #6b7d9e;
    --secondary-color: #f0f0f5;
    --tertary-color: #0a439e;
    --background-color: #100504;
    --text-color: #f8e3e3;
    --second-text-color: #fff ;
    --main-heaing-font: font-family: 'Shadows Into Light', cursive;

}

html, body {
    background: var(--background-color) ;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100%;
}

nav {
    width: 100%;
    display: flex ;
    align-items: center ;
    height: 90px;
    border-bottom: rgb(245, 245, 245) solid 1px;
    background: var(--main-color) ;
    justify-content: space-between;
}

.logo-side {
    height: 90%;
    width: 300px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    position: relative;
    left: 60px;
}
#logo {
    height: 100%;
    width: 90px;
    position: relative;
    right: 1px;
}

.logo-text {
    width: 70%;
    height: 100%;
    display: flex ;
    align-items: center ;
}

.logo-text h2 {
    font-size: 32px;
    color: var(--text-color) ;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
}

.logo-text h3 {
    font-size: 16px;
    color: var(--text-color) ;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}
.logo-text h1 {
    font-size: 40px;
    color: var(--second-text-color) ;
    margin-left:4px ;
    font-weight: 700;
    text-shadow: 0 0 10px var(--tertary-color);
}

/* -------------right side of nav */

.right-side-nav {
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    height: 100%;
    width: 35%;
}

.links-side {
    border: 1px solid pink;
    
    width: 60%;
}
.links-side ul {
    list-style: none;
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
}
.links-side ul a {
    text-decoration: none ;
}

.links-side ul a li {
    color: var(--text-color);
}


#smiley-face img {
    height: 80%;
    width: 70px;
    position: relative;
    right: 30px;
    cursor: pointer;
}





























































