@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Gentium+Book+Plus&family=Instrument+Sans&family=Inter&family=Nanum+Gothic&family=Noto+Serif+Khojki&family=Nunito:wght@300&family=Pacifico&family=Playfair+Display&family=Poppins&family=Quicksand&family=Raleway&family=Raleway+Dots&family=Rubik+Puddles&family=Shadows+Into+Light&family=Sono&family=Tilt+Warp&family=Wix+Madefor+Display&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #6b7d9e;
    --secondary-color: #ecf4e6;
    --tertary-color: #7ebd7a;
    --background-color: #2b303a;
    --text-color: #f8e3e3;
    --second-text-color: #fff ;
    --main-heaing-font: font-family: 'Shadows Into Light', cursive;

}

html, body {
    background: var(--background-color) ;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    
}

nav {
    width: 100%;
    display: flex ;
    align-items: center ;
    height: 90px;
    border-bottom: rgb(245, 245, 245) solid 1px;
    background: red;
    justify-content: space-between;
    z-index: 3;
    position: relative;
}

.logo-side {
    height: 90%;
    width: 300px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    position: relative;
    left: 60px;
}
#logo {
    height: 100%;
    width: 90px;
    position: relative;
    right: 1px;
}

.logo-text {
    width: 70%;
    height: 100%;
    display: flex ;
    align-items: center ;

}

.logo-text h2 {
    font-size: 32px;
    color: var(--text-color) ;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 700;
}

.logo-text h3 {
    font-size: 16px;
    color: var(--text-color) ;
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
}
.logo-text h1 {
    font-size: 40px;
    color: var(--second-text-color) ;
    margin-left:4px ;
    font-weight: 700;
    text-shadow: 0 0 10px var(--tertary-color);
}

/* -------------right side of nav --------*/

.right-side-nav {
    display: flex ;
    justify-content: space-between;
    align-items: center ;
    height: 100%;
    width: 35%;
}

.links-side {
    position: relative;
    left: -13px;
    width: 60%;
}
.links-side ul {
    list-style: none;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.links-side ul a {
    text-decoration: none ;
}

.links-side ul a li {
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.links-side ul a li:hover {
    text-shadow: 0 0 10px var(--tertary-color);
    color: var(--tertary-color);
}


#smiley-face img {
    height: 80%;
    width: 70px;
    position: relative;
    right: 90px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ;
}
#smiley-face :hover {
    box-shadow: 0 0 20px var(--second-text-color);
}

/* ---------main-------- */
main {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: pink;
} hi


.main-background-img1  {
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    top: -90px;
    background: url(./media/realistic\ blue\ car\,\ at\ high\ speeds\ driving!\ \(1\).png);
}

.main-background-black-cover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 70%, var(--background-color ) 96%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0px;
}


/* ---------main text container-------- */

.test-container-for-main {
    width: 650px;
    min-width: 400px;
    color: white;
    height: 400px;
    position: absolute;
    right: 45px;
    top: 72px;
    z-index: 3;
}
.test-container-for-main h1 {
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-weight: bolder;
    margin: 32px auto;
    font-family: 'Gentium Book Plus', serif;
    word-spacing: -2%;


}
.test-container-for-main p {
    text-align: center;
    font-size: 24px;
    line-height: -2px;
}

/* ------------svg thing */

.custom-shape-divider-bottom-1685650074 {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    padding: 0;
    margin: 0;
    z-index: 4;
}

.custom-shape-divider-bottom-1685650074 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 209px;
    top: 0;
}

.custom-shape-divider-bottom-1685650074 .shape-fill {
    fill: var(--background-color);
}
/* ------------just space */

.just-space {
    height: 30px;
    width: 100%;
    position: relative;
    z-index: 6;
}
/* ------------new section information section */

.infomation {
    background-color: var(--background-color);
    width: 100%;
    z-index:5;
    height:50%  
}

/* ------------new section information card */

#card-container {
    height: 400px ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-top: 30px;
}

.info-card {
    height: 390px;
    padding: 16px 20px 16px 24px;
    border: 2px solid var(--secondary-color);
    width: 23%;
    border-radius: 10px;
    color: var(--secondary-color);
    position: relative;
}

.info-card h2 {
    text-align: start;
    font-size: 40px;
    font-family: 'Gentium Book Plus', serif;
    font-weight: bold ;
    margin: 8px 0 40px;
    line-height: 32px;

}
.info-card p {
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.info-card-paragraph-box {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    height: 170px;
    width: 90%;
}
/* ------------new section pricing card */
.space2{
    height: 273px;
    width: 100%;
    background: linear-gradient(180deg, var(--background-color) 40% , darkblue );
}
/* ------------new section pricing card */

#paid {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkblue;
    position: relative;
    top: 180px;
}

h1
{
    color: var(--secondary-color);
    text-align: center;
    font-size: 40px;
}

.payment-cards-cards{
    max-width: 420px;
    display: flex;
    border: 3px solid #6b7d9e;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform: scale(0.9);
    color: white;
}

.payment-card {
    display: grid;
    width: 380px;
    max-width: 380px;
    justify-content: center;
    align-items: center;
}

.payment-card .Buy {
    background-color: var(--tertary-color);
    width: 100px;
    height: 50px;
    border : none;
    border-radius: 10px;
    margin-left: 45px;
}

.payment-card h2 {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
}

.pricing-text1 , .pricing-text2 {
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    font-size: 20px;
}
.pro {
    background: #4a5261;
    border: 3px solid #686f7a;
    transform: scale(1.03);
}

/*RESPONSIVENESS*/

@media (max-width : 1234px) {
    #paid
    {
        flex-direction: column;
    }

    .info-card h2 {
        text-align: start;
        font-size: 30px;
        font-family: 'Gentium Book Plus', serif;
        font-weight: bold ;
        margin: 4px 0 ;
    
    }
    .info-card p {
        font-size: 12px;
    }
    
}

@media (max-width : 964px) {
    
    #card-container {
        flex-direction: column;
    }

    .info-card {
        min-height: 100px;
        padding: 16px 20px;
        border: 2px solid var(--secondary-color);
        min-width: 70%;
        border-radius: 10px;
        color: var(--secondary-color);
    }
    
}

@media (max-width : 720px)
{
    .test-container-for-main h1 {
        font-size: 30px;
    }
    .test-container-for-main p {
        font-size: 20px;
    }

    .payment-cards-cards{
        transform: scale(0.7);
        margin: 0;
    }

    .pro {
        transform: scale(0.9);
        margin: 0;
    }
}

/*I MADE MOST OF THE PAGE RESPONSIVE CAUSE I WAS BORED YOU JUST NEED TO ADD A 
HAMBURGER MENU TO MAKE THE NAV BAR RESPONSIVE*/

























































