* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --main-color: #4d4dff;
  --secondary-color: #ff00ff;
  --tertary-color: #fff44f;
  --background-color: #000;
  --text-color: #f8e3e3;
  --second-text-color: #fff;
  --main-heaing-font: "Poppins", sans-serif;
  --main-para-text: "Varela", sans-serif;
}

body,
html {
  background: #111;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.blur-coloured-sphere {
  height: 500px;
  width: 500px;
  position: absolute;
  top: -60%;
  left: -30%;
}

.blur-coloured-sphere::before {
  animation: rotation 20s linear infinite;
  background: linear-gradient(
    var(--gradient-angle),
    var(--main-color),
    purple,
    white,
    var(--main-color)
  );
}

.blur-coloured-sphere::before,
.blur-coloured-sphere::after {
  content: "";
  filter: blur(3.75rem);
  position: absolute;
  height: 500px;
  width: 500px;
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@media (min-width: 1279px) {
  body {
    height: 100%;
    width: 100%;
  }
  .flex-container {
    position: relative;
    display: flex;
    padding: 20px 50px;
    width: 100dvw;
    top: 3%;
    justify-content: space-between;
  }
  .contact-form {
    display: grid;
    padding: 10px 30px;
    width: 55dvw;
  }
  .heading-section {
    display: grid;
    margin-bottom: 20px;
  }
  .heading-section h1 {
    color: var(--second-text-color);
    font-size: 32px;
    font-family: var(--main-heaing-font);
    margin-bottom: 10px;
  }
  .heading-section p {
    color: rgb(216, 209, 209);
    font-size: 17px;
    font-family: var(--main-para-text);
    width: 95%;
  }
  .user-email {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .user label,
  .emaill label,
  .message label {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
  }

  .user input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .user input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  .emaill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .emaill input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    accent-color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .emaill input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  #message::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  img {
    height: 50px;
    width: 50px;
  }
  .ratings-header {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .ratings label {
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s;
    margin: 0 16px;
  }
  .ratings label:hover {
    transform: scale(1.1);
    background: rgb(216, 209, 209, 0.2);
  }
  .ratings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .ratings input {
    display: none;
  }
  .ratings input:checked + label {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.3),
      -1px -1px 40px rgba(255, 255, 255, 0.3);
  }
  .message {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    height: 180px;
    font-family: var(--main-heaing-font);
  }
  .message textarea {
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    width: 100%;
    height: 100%;
    resize: none;
    padding: 8px 8px;
    height: 100%;
    font-family: var(--main-para-text);
  }
  button {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--text-color);
    background: linear-gradient(
      90deg,
      var(--main-color),
      var(--secondary-color)
    );
    cursor: pointer;
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    transition: all 0.4s;
  }

  button:hover {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    color: white;
    transform: scale(1.1);
    background: none;
    box-shadow: 4px 4px var(--second-text-color),
      -4px -4px var(--background-color);
  }

  .information-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .tele-number,
  .email-addie {
    height: 25%;
    width: 100%;
    margin: 16px 0;
    padding: 8px 16px;
  }

  .email-addie h3,
  .tele-number h3 {
    font-family: var(--main-heaing-font);
    color: var(--second-text-color);
    font-size: 28px;
    margin: 8px 0;
  }
  .email-addie p,
  .tele-number p {
    font-family: var(--main-para-text);
    color: var(--second-text-color);
    font-size: 16px;
  }
  .go-back {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #000;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 5;
  }
  .go-back svg {
    height: 30px;
    width: 30px;
  }
  .go-back:hover {
    box-shadow: 1px 1px 30px #888;
  }
}

@media (max-width: 1278px) and (min-width: 700px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  .blur-coloured-sphere {
    display: none;
  }
  .flex-container {
    position: relative;
    padding: 20px 50px;
    width: 100dvw;
    justify-content: space-between;
  }
  .contact-form {
    display: grid;
    padding: 10px 30px;
    width: 100%;
  }
  .heading-section {
    display: grid;
    margin-bottom: 20px;
  }
  .heading-section h1 {
    color: var(--second-text-color);
    font-size: 32px;
    font-family: var(--main-heaing-font);
    margin-bottom: 10px;
  }
  .heading-section p {
    color: rgb(216, 209, 209);
    font-size: 17px;
    font-family: var(--main-para-text);
    width: 95%;
  }
  .user-email {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .user label,
  .emaill label,
  .message label {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
  }

  .user input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .user input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  .emaill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .emaill input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    accent-color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .emaill input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  #message::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  img {
    height: 50px;
    width: 50px;
  }
  .ratings-header {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .ratings label {
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s;
    margin: 0 16px;
  }
  .ratings label:hover {
    transform: scale(1.1);
    background: rgb(216, 209, 209, 0.2);
  }
  .ratings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .ratings input {
    display: none;
  }
  .ratings input:checked + label {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.3),
      -1px -1px 40px rgba(255, 255, 255, 0.3);
  }
  .message {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    height: 180px;
    font-family: var(--main-heaing-font);
  }
  .message textarea {
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    width: 100%;
    height: 100%;
    resize: none;
    padding: 8px 8px;
    height: 100%;
    font-family: var(--main-para-text);
  }
  button {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--text-color);
    background: linear-gradient(
      90deg,
      var(--main-color),
      var(--secondary-color)
    );
    cursor: pointer;
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    transition: all 0.4s;
    width: 150px;
    height: 40px;
  }

  button:hover {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    color: white;
    transform: scale(1.1);
    background: none;
    box-shadow: 4px 4px var(--second-text-color),
      -4px -4px var(--background-color);
  }

  .information-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .tele-number,
  .email-addie {
    height: 25%;
    width: 100%;
    margin: 16px 0;
    padding: 8px 16px;
  }

  .email-addie h3,
  .tele-number h3 {
    font-family: var(--main-heaing-font);
    color: var(--second-text-color);
    font-size: 28px;
    margin: 8px 0;
  }
  .email-addie p,
  .tele-number p {
    font-family: var(--main-para-text);
    color: var(--second-text-color);
    font-size: 16px;
  }
  .go-back {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #000;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 5;
  }
  .go-back svg {
    height: 30px;
    width: 30px;
  }
  .go-back:hover {
    box-shadow: 1px 1px 30px #888;
  }
}

@media (max-width: 540px) and (min-width: 300px) {
  body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  .blur-coloured-sphere {
    display: none;
  }
  .flex-container {
    position: relative;
    padding: 20px 50px;
    width: 100dvw;
    justify-content: space-between;
  }
  .contact-form {
    display: grid;
    padding: 10px 30px;
    width: 100%;
  }
  .heading-section {
    display: grid;
    margin-bottom: 20px;
  }
  .heading-section h1 {
    color: var(--second-text-color);
    font-size: 32px;
    font-family: var(--main-heaing-font);
    margin-bottom: 10px;
  }
  .heading-section p {
    color: rgb(216, 209, 209);
    font-size: 17px;
    font-family: var(--main-para-text);
    width: 95%;
  }
  .user-email {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px;
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .user label,
  .emaill label,
  .message label {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
  }

  .user input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .user input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  .emaill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
  }

  .emaill input {
    padding: 16px 8px;
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    accent-color: var(--second-text-color);
    font-family: var(--main-para-text);
  }
  .emaill input::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  #message::-webkit-input-placeholder {
    color: rgb(216, 209, 209);
  }
  img {
    height: 50px;
    width: 50px;
  }
  .ratings-header {
    font-family: var(--main-heaing-font);
    margin: 3px 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .ratings label {
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.4s;
    margin: 0 16px;
  }
  .ratings label:hover {
    transform: scale(1.1);
    background: rgb(216, 209, 209, 0.2);
  }
  .ratings {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .ratings input {
    display: none;
  }
  .ratings input:checked + label {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.3),
      -1px -1px 40px rgba(255, 255, 255, 0.3);
  }
  .message {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    height: 180px;
    font-family: var(--main-heaing-font);
  }
  .message textarea {
    background: transparent;
    outline: none;
    border: 1px solid rgb(216, 209, 209);
    border-radius: 8px;
    color: var(--second-text-color);
    width: 100%;
    height: 100%;
    resize: none;
    padding: 8px 8px;
    height: 100%;
    font-family: var(--main-para-text);
  }
  button {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--text-color);
    background: linear-gradient(
      90deg,
      var(--main-color),
      var(--secondary-color)
    );
    cursor: pointer;
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    transition: all 0.4s;
    width: 150px;
    height: 40px;
  }

  button:hover {
    padding: 10px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-heaing-font);
    color: var(--tertary-color);
    border: none;
    border-radius: 7px;
    color: white;
    transform: scale(1.1);
    background: none;
    box-shadow: 4px 4px var(--second-text-color),
      -4px -4px var(--background-color);
  }

  .information-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .tele-number,
  .email-addie {
    height: 25%;
    width: 100%;
    margin: 16px 0;
    padding: 8px 16px;
  }

  .email-addie h3,
  .tele-number h3 {
    font-family: var(--main-heaing-font);
    color: var(--second-text-color);
    font-size: 28px;
    margin: 8px 0;
  }
  .email-addie p,
  .tele-number p {
    font-family: var(--main-para-text);
    color: var(--second-text-color);
    font-size: 16px;
  }
  .go-back {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 2vh;
    right: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #000;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 5;
  }
  .go-back svg {
    height: 30px;
    width: 30px;
  }
  .go-back:hover {
    box-shadow: 1px 1px 30px #888;
  }
}
